*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body {
	background-color: #fff;
}
.wrapper {
	background-color: #fff;
	border-style: dotted;
	border-color: #000;
	border-width: 0 2px;
	width: 1200px;
	margin: 0 auto; 

}
.logo{
	text-align:  left;
	padding-left:  30px;
}


.logo {
	text-decoration: none;
	display: inline-block;
	color: black ;
	width: 330px ;
}

.logo:hover {
      opacity: 0.8;
    }
.logo span {
	text-transform: uppercase;
	display: inline-block;
	width: 100% ;
	font-size: 20px;
	padding-left: 11px;
}
.header-nav {
    	margin-top: 40px;
    }
    nav ul {
    	list-style: none;
    }
    nav li {

    	display: inline-block;
    }

    .header-nav ul{

    	border-top:  4px solid black;
    	border-bottom: 4px solid black;
    	 
      padding-left: 30px;
    }
    .header-nav li{
    	display: inline-block;
      font-size: 20px
    }
    .header-nav a {
    font-size: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	color: #000;
        }
      .header-nav a:hover {
      	color: #fff;
      	background: #000;
    }

.main{
    	padding: 30px;

    }
.main img {
width: 100%;
}
 h1,h2,p {
      margin: 10px 0;
    }
  h1 {
      font-size: 40px;
    }
    p {
      font-size: 22px;
      line-height: 26px;
    }
    h2 {
      font-size: 30px;
    }
    footer {
    	background: #000;
    	color: #fff;
    	padding: 30px;

    }
    .footer-nav li {
	   padding:0 10px;
    }
    .footer-nav a {
    	text-decoration: none;
    	color: #fff
    }
    	
  
    .footer-nav  {
    	text-align: center;
    	font-size: 12px;
    }
.footer-nav a: hover {
	border-bottom:1px dashed #fff;
}