/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
*/
ul.nav li ul {
	display: none;
} 
ul.nav li {
	list-style: none;

}
ul.nav li:hover > ul {
	display: block;
} 
body{
  background: #EDAD5A;
}
/*блок меню*/
ul{
  margin-top:20px;
  padding: 20px;
}
ul.nav li {
  background: #B3B3FF;
  border-radius: 10px 40px;
  /*border: 1px solid #FFFFFF;*/
  list-style: none;
  width: 150px;         /*ширина блока меню*/
}
ul.nav li a {
 color:green;
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px 15px;
  margin: 10px;
}
ul.nav li ul {
  display: none;
  /*скрываем вложенные пункты*/
}
 
/*Выпадающее меню*/
 
ul.nav li:hover {
  /* позиционирование вложенных элементов
   * будет расчитыватьться относительно
   * родительского элемента
   */
  position: relative;
  background: #CF0 ;
}
ul.nav li:hover > ul {
  display: block;
}
ul.nav li:hover ul{
  position: absolute;
  top: -50px;       /*Задаём координаты для вложенных пунктов*/
  left: 140px; /*меню раскрывается вправо*/
}
h1, h2 {
	text-align: center;

}
span {
	color:#000DFF;
}